* {
    box-sizing: border-box;
}

body { /* Requirement-2.A */
    font-family:Arial, Helvetica, sans-serif; /* Requirement-2.1 */
    background-color:rgb(190, 219, 191); /* Requirement-2.4 */
}

.header {
    background-color:rgb(96, 142, 93);
    padding: 30px;
    text-align: center; /* Requirement-2.2 */
    font-size: 30px;
    color: white; /* Requirement-2.3 */
    position: static; /* Requirement-2.15 */
}

.column {
    float: left; /* Requirement-2.11 */
    padding: 15px; /* Requirement-2.6 */
}

.column.side {
    background-color:rgb(190, 219, 191);
    width: 25%; /* Requirement-2.7 */
}

.column.middle {
    background-color:rgb(150, 193, 151);
    width: 50%;
}

.row:after {
    content: "";
    display: table; /* Requirement-2.11 */
    clear: both; /* Requirement-2.13 */
}

.footer {
    background-color:rgb(96, 142, 93);
    padding: 30px;
    text-align: center;
}

footer {
    visibility: hidden; /* Requirement-2.16 */
}
@media (max-width: 600px) {
    .column.middle, .column.side {
        width: 100%; /* Requirement-2.10 */
    }
}

ul {
    list-style-type: none; /* Requirement-2.8 */
    margin: 0;
    padding: 0;
    background-color: rgb(190, 219, 191);
}

li a { /* Requirement-2.F */
    display: block;
    color: #4e3b2c;
    padding: 16px 16px; /* Requirement-2.9 */
    text-decoration: none;
}

li a:hover { /* Requirement-2.E */
    background-color: rgb(96, 142, 93);
    color: white;
}

.center {
    display: block;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    border: 20px 40px;
}

.sidepics { /* Requirement-2.C */
    display: block; 
    width:100%;
    object-fit:cover; 
    margin-left:auto; 
    margin-right:auto;
    z-index: -1; /* Requirement-2.17 */
}

p { /* Requirement-2.B */
    color: white;
    font-size: 20px;
    text-align: center;
}

figcaption {
    color:#4e3b2c
}

#subheading-light { /* Requirement-2.D */
    border-radius: 40px;
    border: 2px solid white; /* Requirement-2.5 */
    padding: 10px;
    color: white;
    font-size: 24px;
    text-align: center;
}

#subheading-dark {
    border-radius: 40px;
    border: 2px solid #4e3b2c;
    padding: 10px;
    color: #4e3b2c;
    font-size: 24px;
    text-align: center;
}

.info {
    font-size: 24px;
    width: auto;
    height: 100px;
    border: 1px solid #4e3b2c;
    overflow: scroll; /* Requirement-2.14 */
}
